<!-- Find Us -->
<section class="py-12 bg-white"  id="horaires_acces">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900"
      >
      Horaires et accès
      </h2>
      <p class="font-light text-gray-500 sm:text-xl">
        À deux pas de la forêt et ouvert (quasiment) toute l'année
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      <div
        class="p-10 bg-white rounded-lg border border-gray-200"
      >
        <h3 class="text-2xl font-semibold my-4">Nos heures d'ouverture</h3>

        <ul class="fa-ul my-4">
          <li>
            <span class="fa-li"><i class="fa-solid fa-calendar-day"></i></span>
            Lundi / Mercredi / Vendredi / Samedi / Dimanche
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-clock"></i></span> De 9h à 18h
            d'Octobre à Mai
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-clock"></i></span> De 9h à 19h
            de Juin à Septembre
          </li>
        </ul>

        <h3 class="text-2xl font-semibold my-4">Cas exceptionnels</h3>

        <p class="my-4">
          Affichage ici au plus tard 48h avant, en particulier pour :
        </p>
        <ul class="fa-ul my-4">
          <li>
            <span class="fa-li"><i class="fas fa-solid fa-sun"></i></span>
            Ouverture les jours fériés ensoleillés
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-solid fa-cloud-showers-heavy"></i
            ></span>
            Fermeture en cas de journée très pluvieuse
          </li>
        </ul>
        <div
          class="bg-yellow-100 border-yellow-500 rounded-b text-yellow-900 px-4 py-3 my-4"
          role="alert"
        >
          <div class="flex">
            <div class="py-4 pr-4">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div>
              <p class="font-bold">Fermeture exceptionnelle le(s) :</p>
              <ul class="list-disc list-inside">
                <li>le 14 juillet 2023</li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="bg-green-100 border-green-500 rounded-b text-green-900 px-4 py-3 my-4"
          role="alert"
        >
          <div class="flex">
            <div class="py-4 pr-4">
              <i class="fas fa-check-circle"></i>
            </div>
            <div>
              <p class="font-bold">Ouverture exceptionnelle le(s) :</p>
              <ul class="list-disc list-inside">
                <li>le 14 juillet 2023</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="p-10 bg-white rounded-lg border border-gray-200"
      >
        <h3 class="text-2xl font-semibold mb-4">Où nous trouver ?</h3>
        <p class="mb-4">
            Notre boutique se trouve à l'intérieur de la gare de Fontainebleau-Avon, dans le hall central. Venez louer un vélo pour explorer les magnifiques environs !
        </p>
        <ul class="fa-ul mb-4">
          <li>
            <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
            Gare de Fontainebleau-Avon, Place de la Gare, 77210
            Avon
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-phone-alt"></i></span> +33 7 71
            62 86 04
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-envelope"></i></span>
            blowcycles@gmail.com
          </li>
        </ul>
        <div class="w-full h-80">
        {% include _open_street_map.html %}
        </div>
      </div>
    </div>
  </div>
</section>
