<!-- Find Us -->
<section class="py-12 bg-white"  id="horaires_acces">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900"
      >
      Horaires et accès
      </h2>
      <p class="font-light text-gray-500 sm:text-xl">
        À deux pas de la forêt et ouvert (quasiment) toute l'année
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      <div
        class="p-10 bg-white rounded-lg border border-gray-200"
      >
        <h3 class="text-2xl font-semibold my-4">Nos heures d'ouverture</h3>

        <ul class="fa-ul my-4">
          <li>
            <span class="fa-li"><i class="fa-solid fa-calendar-day"></i></span>
            Lundi / Mercredi / Vendredi / Samedi / Dimanche
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-clock"></i></span> De 9h à 18h
            d'Octobre à Mai
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-clock"></i></span> De 9h à 19h
            de Juin à Septembre
          </li>
        </ul>

        <h3 class="text-2xl font-semibold my-4">Cas exceptionnels</h3>

        <p class="my-4">
          Affichage ici au plus tard 48h avant, en particulier pour :
        </p>
        <ul class="fa-ul my-4">
          <li>
            <span class="fa-li"><i class="fas fa-solid fa-sun"></i></span>
            Ouverture les jours fériés ensoleillés
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-solid fa-cloud-showers-heavy"></i
            ></span>
            Fermeture en cas de journée très pluvieuse
          </li>
        </ul>
        {% assign opening_days = site.data.opening_closing_days.opening_days %}
        {% if opening_days.size > 0 %}
        <div class="bg-green-100 border-green-500 rounded-b text-green-900 px-4 py-3 my-4" role="alert" id="opening-days">
          <div class="flex">
            <div class="py-4 pr-4">
              <i class="fas fa-check-circle"></i>
            </div>
            <div>
              <p class="font-bold">Ouverture exceptionnelle le{% if opening_days.size > 1 %}s{% endif %} :</p>
              <ul class="list-disc list-inside" id="opening-days-list">
                {% for opening_day in opening_days %}
                  <li datetime="{{ opening_day }}">{{ opening_day | french_date  }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
      
      {% assign closing_days = site.data.opening_closing_days.closing_days %}
      {% if closing_days.size > 0 %}
        <div class="bg-yellow-100 border-yellow-500 rounded-b text-yellow-900 px-4 py-3 my-4" role="alert" id="closing-days">
          <div class="flex">
            <div class="py-4 pr-4">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div>
              <p class="font-bold">Fermeture exceptionnelle le{% if closing_days.size > 1 %}s{% endif %} :</p>
              <ul class="list-disc list-inside" id="closing-days-list">
                {% for closing_day in closing_days %}
                  <li datetime="{{ closing_day }}">{{ closing_day | french_date }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
      </div>
      <div
        class="p-10 bg-white rounded-lg border border-gray-200"
      >
        <h3 class="text-2xl font-semibold mb-4">Où nous trouver ?</h3>
        <p class="mb-4">
            Notre boutique se trouve à l'intérieur de la gare de Fontainebleau-Avon, dans le hall central. Venez louer un vélo pour explorer les magnifiques environs !
        </p>
        <ul class="fa-ul mb-4">
          <li>
            <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
            {{ site.data.config.address }}
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-phone-alt"></i></span>
            {{ site.data.config.phone }}
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-envelope"></i></span>
            {{ site.data.config.email }}
          </li>
        </ul>
        <div class="w-full h-80">
        {% include _open_street_map.html %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function filterDays(selectorName) {
    // Get the current date in the user's timezone
    const currentDate = new Date((new Date()).toDateString());

    // Get the opening/closing days list element by its id
    const daysList = document.getElementById(selectorName).querySelector("ul");

    // Get all the list items in the opening/closing days list
    const daysListItems = daysList.querySelectorAll("li");

    let displayAlert = false;

    // Loop through each list item and check if its date is greater than or equal to the current date
    daysListItems.forEach(function(listItem) {
      const listItemDate = new Date(listItem.getAttribute("datetime"));
      if (listItemDate >= currentDate) {
        // there is at least one list item that is greater than or equal to the current date
        // so we display the opening/closing days alert div
        displayAlert = true;
      } else {
        // Hide the list item
        listItem.style.display = "none";
      }
    });

    // Hide the opening/closing days alert div if there are no list items displayed
    if (!displayAlert) {
      document.getElementById(selectorName).style.display = "none";
    }
  }

  filterDays("opening-days");
  filterDays("closing-days");
</script>