<!-- Hero section -->

{% assign hero = site.data.hero %}
<section class="bg-cover bg-center pb-20 pt-56" style="background-image: url('{{ base_url }}{{ hero.image }}')">
    <div class="container mx-auto flex flex-wrap h-full mb">
        <div class="w-full md:w-2/3">
            <h1 class="text-4xl font-bold text-white mb-4">{{ hero.title }}</h1>
            <p class="text-white text-lg">{{ hero.description }}</p>
        </div>
        <div class="w-full md:w-1/3 md:relative">
            <a href="{{ hero.button.url }}" class="bg-accent-500 hover:bg-accent-700 text-white font-bold py-2 px-4 rounded-full ml-4 mb-4 md:absolute md:bottom-0 md:right-0">{{ hero.button.label }}</a>
        </div>
    </div>
</section>
