    <!-- Opening Dates and Hours section -->
    <section class="bg-white py-20">
        <div class="container mx-auto px-4">
          <div class="max-w-2xl mx-auto text-center mb-8">
            <h2 class="text-4xl font-bold mb-8">Opening Dates and Hours</h2>
            <p class="text-gray-700 leading-loose">
              Our bike rental shop is open from May to September. Please see our
              hours of operation below.
            </p>
          </div>
          <div class="max-w-2xl mx-auto">
            <div class="mb-8">
              <h3 class="text-2xl font-bold mb-4">Hours of Operation</h3>
              <ul class="list-disc list-inside">
                <li><i class="fas fa-clock"></i> Monday to Friday: 9am to 6pm</li>
                <li>
                  <i class="fas fa-clock"></i> Saturday and Sunday: 8am to 7pm
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="text-2xl font-bold mb-4">Calendar</h3>
            </div>
          </div>
        </div>
      </section>