<!-- Partners section -->
<section class="p-12 bg-white">
    <span class="flex gap-10 items-center text-center mb-6">
        <span class="border-t-2 grow h-0 min-w-55"></span>
        <span class="text-3xl lg:text-4xl font-extrabold text-gray-900">Nos partenaires</span>
        <span class="border-t-2 grow h-0 min-w-55"></span>
        </span>
    <div class="flex flex-wrap justify-center items-center">
        <img class="h-24 mx-4 my-2" src="{{ '/assets/images/logos/partners/onf.svg' | process_image_url: site.baseurl }}" alt="Partner Logo 1">
        <img class="h-24 mx-4 my-2" src="{{ '/assets/images/logos/partners/onf.svg' | process_image_url: site.baseurl }}" alt="Partner Logo 2">
        <img class="h-24 mx-4 my-2" src="{{ '/assets/images/logos/partners/onf.svg' | process_image_url: site.baseurl }}" alt="Partner Logo 3">
    </div>
    <div class="max-w-2xl mx-auto text-center font-light sm:text-xl my-8">
        <p class="my-4 text-gray-700 ">Nous sommes engagés auprès de nos partenaires pour proposer une expérience au sein de la forêt dans le respect de la faune et de la flore.</p>
        <p class="my-4 text-gray-700 " >Rejoignez nous et venez découvrir toutes les merveilles que cache Fontainebleau et ses alentours !</p>
    </div>

</section>