{% assign pricing_cards = site.data.homepage.pricing_cards %}
<section class="relative" id="tarifs">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 z-10 relative">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900"
        >
        {{ pricing_cards.title }}
        </h2>
        <p
          class="mb-5 font-light text-gray-500 sm:text-xl"
        >
        {{ pricing_cards.description }}
        </p>
      </div>
      <div
        class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"
      >
        {% include home/_pricing_card.html number=1 %}
        {% include home/_pricing_card.html number=2 %}
        {% include home/_pricing_card.html number=3 %}
      </div>
    </div>
    <div class="absolute object-cover bottom-0 left-0 z-0">
      <img src="{{base_url}}/assets/images/header.jpg" alt="BannerImage"/>
      <div class="absolute h-full w-full bottom-0 left-0" style="background-image: linear-gradient(180deg,#f9f9f9 21.88%,hsla(0,0%,97.6%,.9019607843137255) 42.71%,hsla(0,0%,97.6%,0));" ></div>
    </div>
  </section>