<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900"
        >
          Designed for business teams like yours
        </h2>
        <p
          class="mb-5 font-light text-gray-500 sm:text-xl"
        >
          Here at Flowbite we focus on markets where technology, innovation,
          and capital can unlock long-term value and drive economic growth.
        </p>
      </div>
      <div
        class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"
      >
        {% include home/_pricing_card.html %}
        {% include home/_pricing_card.html %}
        {% include home/_pricing_card.html %}
      </div>
    </div>

    <!-- <div class="absolute bottom-0 left-0 w-full">
    <img class="" src="https://npf-prod.imgix.net/uploads/d0df4241fe0b426980b2ae0c0102e9fa.jpg?auto=compress,format&amp;crop=focalpoint&amp;fit=min&amp;fp-x=0.5&amp;fp-y=0.5&amp;h=756&amp;q=80&amp;w=1600"/>
    <div class="absolute bg-gradient-gray-100-fade-down h-full inset-0 top-0 w-full -mx-px"></div>
  </div> -->
  </section>