---
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';

const siteTitle = "Your Site Title";  // Replace with site title
const siteUrl = "https://your-site-url.com";  // Replace with your site URL
const pageTitle = "Your Page Title";  // Replace dynamically if needed

---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{pageTitle} - {siteTitle}</title>
    <link rel="alternate" type="application/rss+xml" href={`${siteUrl}/feed.xml`} title={siteTitle}>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navbar -->
    <Navbar />

    <!-- Main content -->
    <slot />

    <!-- Footer -->
    <Footer />

    <!-- Scripts -->
    <script is:inline src="/assets/js/smooth_scrolling.js"></script>
  </body>
</html>
