
  <div id="map" class="w-full h-full z-10"></div>

  
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
  
  <script>
    const latitude = 48.416450217349535;
    const longitude = 2.7263004696687942;

    const map = L.map('map').setView([latitude, longitude], 16);
  
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
    }).addTo(map);
  
    const marker = L.marker([latitude, longitude]).addTo(map);

    // const mapsLink = `https://www.google.com/maps/place/${latitude},${longitude}`;
    const mapsLink = `https://www.google.com/maps/search/?api=1&query=Blow+Cycles+Fontainebleau+Avon`;

    const markerText = `<b>Blow Cycles</b><br>Location de vélos<br><a href='${mapsLink}'>Voir sur Maps ?</a>`;
  
    marker.bindPopup(markerText).openPopup();
  </script>