<ul class="social-media-list">
  {%- if site.facebook_username -%}
  <li>
    <a
      href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"
        ></use>
      </svg>
      <span class="username">Facebook</span></a
    >
  </li>
  {%- endif -%} {%- if site.instagram_username -%}
  <li>
    <a
      href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"
        ></use>
      </svg>
      <span class="username">Instagram</span></a
    >
  </li>
  {%- endif -%} {%- if site.twitter_username -%}
  <li>
    <a
      href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"
        ></use>
      </svg>
      <span class="username">Twitter</span></a
    >
  </li>
  {%- endif -%}
</ul>
