<!-- Navigation bar -->
<nav class="bg-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="{{base_url}}/"><img src="{{base_url}}/assets/images/logos/logo_blowcycles_text.svg" alt="logo blowcycles text" class="h-10 fill-current"/></a> 
    </a>
    <div class="flex items-center">
      <a href="#" class="text-grey-900 hover:text-primary px-3 py-2 rounded">Nos vélos</a>
      <a href="#" class="text-grey-900 hover:text-primary px-3 py-2 rounded">Nous trouver</a>
      <a href="#" class="text-grey-900 hover:text-primary px-3 py-2 rounded">Réservations</a>
      <a href="#" class="text-grey-900 hover:text-primary px-3 py-2 rounded">Tarifs et Ouverture</a>
      <a href="#" class="text-grey-900 hover:text-primary px-3 py-2 rounded">Découvrir Fontainebleau</a>
    </div>
  </div>
</nav>