---
layout: default
---

<section class="bg-white py-6">
    <div class="container mx-auto">
      <h2 class="text-2xl font-bold mb-4">Title of the Post</h2>
      <p class="text-gray-600 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>
      <p class="text-gray-600 mb-4">Link to more info: <a href="#" class="text-secondary">https://example.com</a></p>
      {{ content }}
    </div>
  </section>