---
---

// color blind colors
// https://davidmathlogic.com/colorblind/#%23000000-%23E69F00-%2356B4E9-%23009E73-%23F0E442-%230072B2-%23D55E00-%23CC79A7
$c1: #000000;
$c2: #E69F00;
$c3: #56B4E9;
$c4: #009E73;
$c5: #F0E442;
$c6: #0072B2;
$c7: #D55E00;
$c8: #CC79A7;



$arrow-color: #5c6bc0;
$day-selected-text-color: #fff;
$day-selected-background-color: #5c6bc0;
$day-disabled-background-color: none;
$cal-background-color: #212121;
$cal-container-background-color: #757575;
$cal-separator-color: #757575;
$cal-text-color: #fff;

// * {
//   box-sizing: border-box;
//   font-family: 'Montserrat', sans-serif;;
//   font-weight: 500;
// }

// body {
//   padding: 0;
//   margin: 0;
// }

.cal-modal-container {
  background: $cal-container-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
}

.cal-modal {
  background: $cal-background-color;
  color: $cal-text-color;
  padding: 40px 60px;
  text-align: center;
  min-height: 445px;
  
  h3 {
    font-size: 37px;
    font-weight: 900;
    margin: 0 0 1rem;
  }
}

#calendar {
  display: inline-block;
  
  .placeholder {
    display: none;
    width: 300px;
  }
  
  .flatpickr-calendar {
    background: none;
    border: 0;
    border-radius: 0;;
    box-shadow: none;
    color: $cal-text-color;
    top: 0;
    
    .flatpickr-innerContainer {
      overflow: visible;
      
      .flatpickr-weekdays {
        overflow: visible;
      }
    }

    .flatpickr-months {
      .flatpickr-month {
        color: inherit;
        margin-bottom: 10px;

        .flatpickr-current-month {
          font-size: 16px;

          .numInputWrapper {
            display: none;
          }
        }
      }
      
      .flatpickr-prev-month, .flatpickr-next-month {
        top: calc(50% - 23px);
        
        svg {
          height: 46px;
          width: 46px;
          
          path {
            fill: $arrow-color;
          }
        }
      }
      
      .flatpickr-prev-month {
        left: -60px;
      }
      
      .flatpickr-next-month {
        right: -60px;
      }
    }

    .flatpickr-weekdays {
      .flatpickr-weekdaycontainer {
        max-width: 307.875px;
        padding: 0 10px;
        position: relative;
        
        &::after {
          content: '';
          background: $cal-separator-color;
          position: absolute;
          top: -32px;
          bottom: -230px;
          right: 0;
          width: 1px;
        }
        
        &:last-child::after {
          content: none;
        }
        
        .flatpickr-weekday {
          color: $cal-text-color;
          font-weight: 700;
        }
      }
    }

    .dayContainer {
      box-shadow: none;
      padding: 0 10px;
      position: static;
      
      &:last-child::after {
        content: none;
      }
    }

    .flatpickr-day {
      background: $day-selected-background-color;
      border: 0;
      color: $day-selected-text-color;
      font-weight: 500;
      transition: color .1s, background .1s;

      &:hover {
        background: $day-selected-background-color;
        color: $day-selected-text-color;
      }

      &.flatpickr-disabled, &.flatpickr-disabled:hover {
        background: $day-disabled-background-color;
        color: $cal-text-color;
        cursor: default;
      }

      &.selected:not(.hidden) {
        &, &:hover, &:focus {
          background: $day-selected-background-color;
          color: $day-selected-text-color;
        }
      }
      
      &.nextMonthDay, &.prevMonthDay {
        background: none;
        color: rgba(#CFD2D3, .1) !important;
        cursor: default;
        visibility: visible; 
      }
    }
  }
  
  .calendar-events {
    display: block;
    justify-content: space-around;
    margin-top: 30px;
    min-height: 36px;
    
    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: space-around;
    }
      
    .event {
      font-size: 29px;
      
      .date {
        color: $cal-text-color;
        font-weight: 600;
      }
      
      .location {
        color: $day-selected-background-color;
        font-weight: 800;
        letter-spacing: -.8px;
      }
    }
  }
}
