---
---

.image-grid {
  display: grid;
  grid-template-columns: 1fr 0.5625fr; // keep the ratio between images 1080 px/1920 px = 0.5625
  column-gap: 1rem;
  align-items: center;
  margin: 1rem;
}

.image-grid img {
  width: 100%;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-width {
  width: 70%;
}

// responsive images
@media only screen and (max-width: 600px) {
  .image-width {
    width: 100%;
  }

  .image-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    align-items: center;
  }
  .image-grid img {
    width: 80%;
  }
}
