---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <!-- use prose to style the content -->
   <section class="bg-gray-100 py-12">
      
      <div class="prose lg:prose-xl px-4 py-6 mx-auto bg-white rounded-lg mt-4">
        <slot />
      </div>
  </section>
</Layout>